
<div class="container">
    <h2>User Settings</h2>
    <!--Text Input Control format-->
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" 
            [(ngModel)]="userSettings.name"  required 
            #nameField="ngModel" #propertyTest="ngModel"
            [class.field-error]="form.submitted && nameField.invalid"
            (blur)="onBlur(nameField)" />
            <!--Styling form with validation errors-->
            <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">
                Enter a name
            </div>
        </div>
        <!--ngx-bootstrap datepicker component-->
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="text"
            placeholder="Start Date"
            class="form-control"
            [(ngModel)]="startDate" name="startDate" id="startDate"
            bsDaterangepicker>
        </div>

        Start Date: {{ startDate }}
        <!--ngx-bootstrap timepicker component-->
        <div class="form-group">
            <label for="startTime">Start Time</label>
            <timepicker [(ngModel)]="startTime" name="startTime"></timepicker>
        </div>
        Start Time: {{ startTime }}

        <div class="form-group">
            User Rating
            <rating [(ngModel)]="userRating" [max]="maxRating"
            name="userRating" id="userRating"
            [titles]="['one','two','three']"></rating>
        </div>
        User Rating: {{ userRating }}
        <!--ngx-bootstrap buttons component-->
        <div>
            <button type="button" class="btn btn-primary" name="singleModel"
            [(ngModel)]="singleModel" btnCheckbox
            btnCheckboxTrue="On" btnCheckboxFalse="Off">
            {{ singleModel }}
            </button>
        </div>

        <h3>dirty: {{ propertyTest.dirty }}</h3>
        <h3>pristine: {{propertyTest.pristine }} </h3>
        <h3>touched: {{ propertyTest.touched }} </h3>
        <h3>untouched: {{ propertyTest.untouched }} </h3>
        <h3>valid: {{ propertyTest.valid }} </h3>
        <h3>invalid: {{ propertyTest.invalid }} </h3>
    <!--Check Control format-->
        <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers">
            <label class="form-check-label" for="emailOffers">
              Email Special Offers
            </label>
        </div>
        <!--Radio Control format-->
        <p>User Interface Style</p>
        <div class="form-group">
            <div class="btn-group">
                <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle"
                       btnRadio="Light" tabindex="0" role="button">Light</label>
                <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle"
                       btnRadio="Medium" tabindex="0" role="button">Medium</label>
                <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle"
                       btnRadio="Dark" tabindex="0" role="button">Dark</label>
              </div>
            <!-- <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="lightInterface" value="light" [(ngModel)]="userSettings.interfaceStyle" checked>
                <label class="form-check-label" for="lightInterface">
                  Light
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="mediumInterface" value="medium" [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="mediumInterface">
                  Medium
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="darkInterface" value="dark" [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="darkInterface">
                  Dark
                </label>
            </div> -->
        </div>

        <div class="form-group">
            <label for="subscriptionType">Subscription Type</label>
            <select class="form-control" id="subscriptionType" name="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
              <option *ngFor="let type of subscriptionTypes | async">{{ type }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control" id="notes" name="notes" rows="3" [(ngModel)]="userSettings.notes"></textarea>
        </div>
        <div [hidden]="!postError"
        class="alert alert-danger">
            {{ postErrorMessage }}
        </div>
        <button class="btn btn-primary">Send</button>
    </form> 
</div>


<h3>{{ originalUserSettings | json }}</h3>